@charset"utf-8":
<style>
body{

    background-color: hsl(133, 100%, 75%);
}
h1 {
    color: rgb(217, 255, 0);
    background-color: blueviolet;
}

p {
    color: rgb(12, 139, 0);

}

h2 {
    color: deeppink;
}
</style>